<form id="{{ formName }}" name="{{ formName }}" class="form">
  <section class="form__fields">
    {{#each formData}}
      {{> input }}
    {{/each}}
  </section>
  <section class="form__controls">
    {{#each controls}}
      {{#if this.isButton }}
        {{> button type=this.type disabled=this.disabled form=this.form label=this.label }}
      {{else}}
        {{> buttonLink label=this.label href=this.href extendClass=this.extendClass }}
      {{/if}}
    {{/each}}
  </section>
</form>