:root {
  // Color
  --redPigment: #ED1C24;
  --bdazzledBlue: #235789;
  --aliceBlue: #E8F0FF;
  --black: #020100;
  --white: #FFFFFF;
  --davysGrey: #565857;
  --silverSand: #BCBDC0;
  --lightGray: #ECECEC;
  // Size
  --defaultSize: 16px;
  --title: 24px;
  --subtitle: 12px;
  --text: 16px;
  --description: 9px;
  // Other
  --defaultTransition: 0.2s ease;
}