.profile {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 30px;

  max-width: 520px;
  width: 100%;

  margin: 0 auto;
}

.profile__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}