.button-link {
  display: block;
  padding: 5px 25px;
  margin: 0 auto 20px;
  outline: none;
  border: none;

  color: var(--bdazzledBlue);
  font-size: var(--subtitle);
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  will-change: opacity;
  transition: opacity var(--defaultTransition);

  &:hover,
  &:focus-within {
    cursor: pointer;
    opacity: 0.75;
  }

  &.red {
    color: var(--redPigment);
  }
}